<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jp.deadend.noname.skk"
	android:versionCode="1"
	android:versionName="2.0">
	<application android:debuggable="true" android:label="@string/ime_name">
		<service android:name="SKKEngine"
			android:permission="android.permission.BIND_INPUT_METHOD">
			<intent-filter>
				<action android:name="android.view.InputMethod" />
			</intent-filter>
			<meta-data android:name="android.view.im" android:resource="@xml/method" />
		</service>
        
		<activity android:name="SKKPrefs" android:label="SKK Preferences">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>   
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
 	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
	<supports-screens android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
</manifest> 
